     body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

header {
    background-color: royalblue;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

h2{
    display: grid;
    place-items: center;
}     


div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5em 0;
}


img[data-test-id="slackProfilePicture"] {
    width: 960px;
    height: 1280px;
    /* to make the image responsive */
    max-width: 100%;
    max-height: 100%;  
}

ul {
    list-style: decimal;
    padding: 0;
}

li {
    margin: 0.5em 0;
}

a {
    color: blue;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 1em;
    }
    
    header, section {
        text-align: center;
    }

    ul li {
        margin: 0.5em 0;
        padding: 1em;
        box-shadow: none;
        border: 1px solid #ddd;
    }
}